body {
	background-color: #222327;
	color: #E3E4ED;
	font-family: tahoma, arial, helvetica, sans-serif;
	font-size: 0.8em;
	margin: 0;
	padding: 0;
}
.allDashes {
	max-width: 80em;
	margin-left: auto;
	margin-right: auto;
}
.dashContainer {
	width: 33.3333%;
	width: -webkit-calc(100% / 3);
	width: calc(100% / 3);
	float: left;
}
.dash {
	background-color: #3D3E45;
	border-radius: 0.2em;
	box-shadow: 0.2em 0.2em 0.2em #191A22;
	border: solid 1px #303135;
	margin: 1em;
}
.dash h2 {
	font-size: 1em;
	color: #A8AA96;
	text-shadow: 0.1em 0.1em 0.1em #2C2D30;
	text-transform: uppercase;
	margin: 0;
	padding: 0.5em;
	background: linear-gradient(to bottom, #4d4e56 0%,#3d3e45 100%);
}
.valueContainer {
	text-align: center;
	width: 33.33333%;
	width: -webkit-calc(100% / 3);
	width: calc(100% / 3);
	float: left;
	padding-bottom: 0.5em;
}
.value {
	font-size: 1.5em;
	font-weight: bold;
}
.desc {
	text-transform: uppercase;
	color: #A6A7AD;
	font-size: 0.85em;
	line-height: 1.5em;
}
.clear { clear: both; }
.chartContainer { padding: 1em; padding-left: 0.5em; padding-right: 0.5em; }
.chart { height: 7em; }

@media (max-width: 800px) {
	.dashContainer {
		width: 50%;
	}
}
@media (max-width: 550px) {
	.dashContainer {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		max-width: 30em;
		float: none;
	}
}
@media (max-width: 300px) {
	.valueContainer { width: 100%; }
}

