html { width: 100%; height: 100%; }
body {
width: 100%; height: 100%; margin: 0; padding: 0; color: #ccc9cb; font-family: dejavu sans;
background-size: cover; color: white;
}

.container {
	max-width: 1024px;
	margin-left: auto; margin-right: auto;
}

.c2 { padding: 2em; }

#last, .peaks, .c3 {
	font-family: dejavu sans condensed;
	font-weight: bold;
	background-color: rgba(21,41,64,0.8);
	border: solid 2px rgba(11,31,54,0.8);
	padding: 1em;
	border-radius: 0.2em;
}

.c3 { clear: both; margin-top: 2em; }

#chart {
	font-weight: normal;
}

#last {
	width: 24em;

	float: left;
	text-align: center;
}

#last .title { font-size: 2em; display: block; }
#last .value { font-size: 8em; }
#last .unit { font-size: 5em; }
#last .dateContainer { display: block; }
#last .date:after { content: " - "; }

.peaks { min-width: 24em; margin-left: 28em; }
.peaks .title { font-size: 1em; display: block; margin-top: 1em; margin-bottom: 0.5em; }
.peaks .title:first-of-type { margin-top: 0; }
.peaks .subtitle { font-size: 1.5em; font-weight: normal; display: inline-block; width: 3em; }
.peaks>span { display: block; margin-bottom: 0.5em; }
.peaks .value { font-size: 1.5em; }
.peaks .date { font-weight: normal; margin-left: 0.5em; }
.peaks .date:before { content: "("; }
.peaks .date:after { content: ")"; }

#chart { height: 10em; }
